@page "/counter"
@rendermode InteractiveServer
@inherits ClientBase
<PageTitle>Counter</PageTitle>
<style>
    h1.Client {

    }
    div.Players{
    color: red;      
    text-align: center;
    min-height: 400px;
    max-height: 400px;
    }
</style>
<h1>Counter</h1>


<p role="status">Total Count: @currentCount</p>
<p role="status">Client Name: @ClientName</p>
<p role="status">Connected Clients: @ClientsConnected</p>

@if(State != MashingGameState.Ended){
<p class="Countdown">@(3-ElapsedSeconds)</p>
}

<div class="form-floating mb-3">
    <InputText type="ClientName" @bind-Value="_ClientName" class="form-control" />    
</div>
<div class="Players">
    @foreach (ClientBase client in SortedClients)
    {
        <h1 class="Client">@client.ClientName: @client.ClientCount</h1>
    }
</div>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@if(this == GameHost){
    <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
}

@code {

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Update();
        }
        return base.OnAfterRenderAsync(firstRender);
    }
    private void IncrementCount()
    {
        if(State == MashingGameState.Ongoing)
        {
            currentCount++;
            _ClientCount++;
            Update();
        }
        
    }   
   
}